.aboutsection {
  display: flex;
  max-width: 1600px;
  margin: auto;
}

.aboutsection .left {
  width: 50%;
  height: 450px;
  background: url("../assets/banner-home3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutsection .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 150px 50px 50px;
}

.aboutsection .right h3 {
  font-size: 30px;
  font-weight: 600;
  color: #7ac119;
}

.aboutsection .right h2 {
  font-size: 45px;
  font-weight: 900;
  margin-top: -20px;
}

.aboutsection .right .firstP {
  font-size: 25px;
}

.aboutsection .right p {
  font-size: 15px;
  font-weight: 300;
}

.aboutsection .right button {
  color: #fff;
  background-color: #7ac119;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 400;
  border: 0;
  border-radius: 10px;
}


@media (max-width:768px){
    .aboutsection {
        flex-direction: column;
    }

    .aboutsection .left{
        width: 100%;
    }

    .aboutsection .right{
        width: 100%;
        padding: 20px;
    }

    .aboutsection .right button {
      padding: 10px 20px;
      font-size: 15px;
    }
}